[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/GokceOzkan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/GokceOzkan
	label-Verified = -1..+1 group user/GokceOzkan
	push = group user/GokceOzkan
	read = group user/GokceOzkan
	rebase = group user/GokceOzkan
	removeReviewer = group user/GokceOzkan
	submit = group user/GokceOzkan
[access "refs/heads/*"]
	create = group user/GokceOzkan
	push = +force group user/GokceOzkan
	pushMerge = group user/GokceOzkan
	read = group user/GokceOzkan
[access "refs/tags/*"]
	push = group user/GokceOzkan
	push = +force group user/GokceOzkan
